[2013-08-06 02:22] davidtheclark opened #1 ""Roman" italicized"
I just downloaded the latest Crimson release -- and it looks like the files labeled "roman" are italicized! I don't see a non-bold, non-italic, non-small-caps version in there.

[2013-08-07 04:02] #1 closed, assigned to nobody

[2014-05-13 18:14] rainerschuhsler opened #3 "Web fonts are gone and new TTF files have old vertical metrics"
I commented on the last issue but I'm opening a new one just in case my comment wasn't seen.

The last commit was more destructive than constructive.

The web fonts should not have been removed. The TTF web fonts aren't meant to be installed as desktop fonts; they were generated to have a basic subsetting for browsers to download them faster and to have an adjusted x-height to match Georgia. Font

[2014-10-15 20:42] #3 closed, assigned to nobody

[2014-11-15 20:52] pathumego opened #9 "Sinhala glyph set"
I'm looking for a matching latin set for [this project](https://github.com/mooniak/nidahas-fm-abhaya) - A Sinhala font for web. Found Crimson is working nicely. You can see the file [here](https://github.com/mooniak/nidahas-fm-abhaya/blob/master/sources/NidahasFMAbhaya-Regular_test_1.ttf) and test it with Sinhala+ Latin text [here](http://la-ulu.com/font-test/)
- Crimson is under OFL right? no men

[2014-11-15 22:17] #9 closed, assigned to nobody

[2014-12-12 03:07] thebodzio opened #10 "Intersecting paths in some glyphs may cause improper rendering"
I noticed that some glyphs in this font are constructed from referenced glyph and path crossing that glyph. Unfortunately, this may cause problems with their rendering. As I checked, freetype2 seemd to render mentioned glyphs as intended, however Windows XP at some sizes displayed empty areas where the shapes intersected. Below is illustration of this issue.

![crimson-text-problem](https://cloud.

[2015-01-28 17:17] jlami opened #11 "Line-height or H align"
I have a problem with the vertical alignment of the characters. This is most obvious when changing the line-height to align the text vertically in block elements.
I have made a preview to show the problem: http://jsfiddle.net/Lepsnvy9/1/
The fonts used are from google and I know there have been updates, but when I tried the new versions of the font they all showed this error.

What I expect is tha

[2015-02-01 15:03] skosch commented on #11
jlami, thanks for your message! I'm not entirely sure how to fix this—I've spent too much time already fiddling with ascent/descent values, and still I can't find a combination that doesn't cause problems on at least one device/platform/application combination. I'll take another look at this when I have a free minute or two; if you find a solution please let me know!

[2015-02-02 12:18] adrientetar commented on #11
[According to Adobe tables](https://github.com/adobe-fonts/source-serif-pro/blob/master/Roman/Regular/features):

- For cross-platform consistency, OS/2.TypoAscender and |OS/2.TypoDescender| must add up to the font's UPM value
- hhea ascender (descender) must match OS/2.winAscent (Descent) for cross-platform consistency

I do not know if it's the case already or not with Crimson.

[2015-02-03 14:30] jlami commented on #11
I do see that hhead ascent does not match the winAscent, but instead matches the TypoAscent.

I also seems to be that woff files (and probably other fonts) exported by FontForge are correct, but when using fontsquirrel something is messed up. And I would like to be able to use fontsquirrel for subsetting (or do you know an easy way to do this with FontForge?)

This is tested with corrected ascents

[2015-02-03 15:04] jlami commented on #11
I believe the problem with fontsquirrel is that they try to fix the vertical metrics if you don't specify you don't want that to happen. With "Fix Vertical Metrics" off the output seems better. But that begs the question: Is the output now normalized across browsers without that fix? Because they explain that option with "Normalize across browsers"...

The bounding box of Crimson might be a little

[2015-02-03 21:41] adrientetar commented on #11
pyftsubset is a good subsetting tool. I too have had issues with Fontsquirrel output in the past.

[2015-02-04 12:09] jlami commented on #11
The problem I have with using custom tools, is that I need a ton to do what Fontsquirrel does in one step. I guess a good toolchain only requires a one time setup, but I'm hesitant to start if Fontsquirrel does work ;)

I do have a uniform line-height now, will do a pull-request soon so you can test it. I don't have a mac to try the fix on, so hopefully one of you can try it there?

[2015-02-04 23:57] skosch commented on #11
@adrientetar, did you have a particular way of building the fonts from the sources? Anything I should be aware of? I'm happy to merge the changes and see if it makes a difference

[2015-02-05 10:09] jlami commented on #11
It might also be worth noting that using the new uniform ascent/descent across the fonts might give a bit of tall line-height. I used this to change to proof/test whether the line-height would be uniform, which it is. But it might be better to find a better/smaller total line-height.

I was reading some google font wiki entries and this one might be good to look at further: https://code.google.com

[2015-02-05 12:38] adrientetar commented on #11
No, I just generated them from FontForge. [Eventually you can [reverse path directions](https://github.com/fontforge/fontforge/issues/1995#issuecomment-68349600), export as UFO and build with the AFDKO.]

[2015-02-06 20:43] adrientetar commented on #11
For #10 it might be good to do remove overlap and round to int before generating, which can be done easily from a script.

[2015-02-10 08:33] Shaun-Type opened #13 "Standard ligatures don't work"
I have used old version of Crimson Text and the standard ligatures (fi, ff ...) worked fine. Somehow in the new version (0.8), the standard ligatures won't turn on automatically in InDesign. Is it a bug? Thanks so much.

[2015-02-11 02:42] skosch commented on #13
It's not a bug, it's a feature :-) When the arm of the f is too long, it makes for nice ligatures with f and l and i, but it's still ugly next to, say, â or ï. So a better solution, if the overall design of the font allows for it, is to shorten the f's arm to get out of the way, which is what I did. As a side effect ligatures aren't really necessary anymore. They should (I think) still be availabl

[2015-02-11 06:19] Shaun-Type commented on #13
I see your point. Now I checked the old version, it indeed has longer arm for the f. However, I have to say, even though the new “f” has shorter arm and won’t be “touching” letters like “i” or “l”, it still creates a rather tight space between them, especially in the smaller point size.

I am using Crimson to set an English book (both print and PDF eBook) with an old fashion feeling to it, so the

[2015-02-11 06:52] adrientetar commented on #13
Agreed, in a contrasted serif the ligature also gets rid of two close large dots. It is not necessary for a serif like Cambria though.

[2015-02-11 16:35] skosch commented on #13
I don't disagree at all, I do like me a nice ligature too! There is the option of enabling/disabling ligatures via OpenType features (which I believe is what happens when you click "standard ligatures" in InDesign). If that's not working, then that is indeed a bug that needs fixing. I'm overwhelmed with other work though at the moment, so it may take a while—you're more than welcome to look into i

[2015-02-17 10:46] adrientetar commented on #11
http://kltf.de/downloads/FontMetrics-kltf.pdf

[2015-02-17 10:56] jlami commented on #11
Maybe not, but as I read it, the metrics should be the same across the font styles. And for Crimson each style has it's own values now. Which makes it inconsistent for the webfonts when changing font-weight and font-style.

And my pull-request has just these uniform things your document mentions: win and hhea match, Typo is different.

[2015-02-17 12:00] #11 closed

[2015-02-17 12:06] jlami commented on #11
You might want to check the actual win and hhea values with the 'recalculate' button from your pdf. I used values from Fontforge as I did not have the fontlab(?) tools. I think Fontforge might come up with similar values when setting to 'offset' mode and setting to 0, but I'm not sure.

[2015-04-07 19:09] mvasilkov opened #14 "The website linked from README is gone"

[2015-04-07 19:13] skosch commented on #14
Thanks, fixed!

[2015-04-07 19:13] #14 closed

[2015-04-07 19:17] adrientetar commented on #14
@skosch By the way I get "invalid certificate" when trying to access your website over https. And via http it just returns a welcome message from the server, I think you should set up a redirection.

[2015-04-09 07:29] adrientetar commented on #13
There is still the f.short glyph which is now the default so it seems it's duplicated. IMO it would be nice to have access to the long f, at least as an alternate if not as default. :)

[2015-04-13 10:06] adrientetar commented on #14
@skosch, Ouch, I just pushed wip refactoring commits to the master branch by accident. Could use a force-push if that's a problem. Very sorry about that.

[2015-08-29 22:27] NumericalEvolution commented on #10
I'm affraid the bug is still there, but only in OTF version.

![bug](https://cloud.githubusercontent.com/assets/12125847/9564630/c2d99996-4ead-11e5-8f66-36eaebc07f9f.png)

[2015-09-22 21:24] vsivsi opened #16 "Website is gone again!"
http://aldusleaf.org/crimson.html doesn't work.  First a certificate error, then a 404.

Related to: https://github.com/skosch/Crimson/issues/14

[2015-09-22 21:26] skosch commented on #16
Yeah ... I've been messing around with my mailserver, and lost the nginx configuration in the process. I think it's time we move the website's content to the readme

[2015-09-22 21:57] vsivsi commented on #16
Sounds that way...  Or maybe create a github wiki for the project: https://github.com/skosch/Crimson/wiki

[2015-12-14 16:09] katef opened #18 "Ligatures for italic"
The italic face puts "fi" awfully close together, and these would suit a ligature to give a less cluttered feel. I didn't check, but I suspect the same would be true for the other usual ligatures, fl, ffi and such.

Thank you,

[2015-12-14 16:47] katef commented on #18
@skosch pointed out that there exists a `f_i` ligature at U+FB01. It looks like the current substitutions for the `liga` feature map `fi` to substitute literally `f i`. I suppose those are there as a handy placeholder. So my request is to have those substitute f_i instead.

I'd offer a patch, but for some reason my fontforge is showing most (but not all!) glyphs as blank, and that's true when I ge

[2015-12-14 17:29] katef opened #19 "Script greek style incongruous with serifed roman glyphs"
For Crimson-Roman, the greek drawn with a rounded, handwritten script style. These look lovely, of course, but don't go with the style for the rest of the font. I presume this is an intentional design decision, since I can't find any alternate greek glyphs in the source. What's the rationale for these?

Here for example, I would expect the capital lambda to have the same style as the capital A.
![

[2015-12-14 20:06] skosch commented on #19
Yeah, that was a deliberate (if difficult) decision. I figured I'd design the Greek to be a real text face, math looks be damned. I've always thought latinized, chiselled-style Greek to look somehow *wrong* at least in text. I particularly liked what Slimbach did in his Garamond Premier Pro but wanted the uppercase ductus to match the lowercase. I did do quite a bit of research and experimentation

[2015-12-14 20:20] NumericalEvolution commented on #18
This also happens for italic "ch" [pic](http://i.imgur.com/ZWX8dH9.png).

[2015-12-14 20:21] skosch commented on #18
@NumericalEvolution are you using an old (i.e. Google's) version?
@katef Thanks for trying :) I'll look into it later today!

[2015-12-14 20:28] katef commented on #19
@skosch Okay - Would you be okay with adding stylistic alternates for chiselled style greek? Then I could specify the opentype feature for that, and I'd be a happy bunny.

Just to clarify, I'm not talking about anything specifically for maths, here.

[2015-12-14 20:44] NumericalEvolution commented on #18
@skosch I use the one provided by Adobe Edge Fonts. As I understand, it's fixed now?

[2015-12-14 20:49] katef commented on #18
@NumericalEvolution Yes - the `ch` spacing looks fixed to me, for the current version from git.

[2015-12-14 23:53] skosch commented on #19
Oh I would be totally okay, and I appreciate the offer, I just don't have the time these days.

[2015-12-15 00:29] katef commented on #19
Great! Do you know where they should live? Somewhere in the private use area?

[2015-12-15 00:38] skosch commented on #19
I think so? Although come to think of it, why *not* put it in the math section? Isn't that just the point?

[2015-12-15 00:49] katef commented on #19
I don't think this should go in the math section because it's not specific to mathematical use. E.g. I wouldn't want to use mathematical codepoints to write somebody's name.

Although perhaps the math section could be populated with references to these new glyphs.

[2015-12-15 01:03] skosch commented on #19
Well, I'll leave it up to you then. References in the math section would make sense.

I'd prefer to leave the current Greek untouched – *unless* you want to create six weights of Latinesque Greek, then we could talk about switching out the current calligraphic glyphs as alternates.

[2015-12-15 03:39] katef opened #20 "Generating OTF produces wrong metrics"
With the current revision, fontforge generates OTF which has the wrong metrics (or something); glyphs appear as if their height is about half is what it ought to be.

I'm using fontforge from git, but the same happens for other people using different versions of fontforge; I asked people to confirm for me.

I bisected the history, and this seems to have been introduced by 2d24623, and is still pre

[2015-12-15 04:00] skosch commented on #20
@katef Good catch. I'm not sure what causes this. For context, once upon a time people had trouble with vertical metrics, and @rainerschuhsler, @adrientetar et al. worked their magic to make those problems disappear (e.g. in bb90099). Maybe they have an idea ...

[2015-12-15 04:02] skosch commented on #20
(Also, sorry! I wish contributing to this project was a less frustrating experience. Thank you all the more for trying :)

[2015-12-15 04:40] katef commented on #20
@skosch Everything about computers is frustrating. I'm a C programer; don't worry about it :)

`##fonts` on Freenode:
[code]

[2015-12-15 04:49] skosch commented on #20
Ha, okay then!

If it's a FontForge bug, how about the other editors out there, like TruFont or the various online ones?

[2015-12-15 05:03] katef commented on #20
Possibly related to fontforge/fontforge#2559, but that's all I could find for existing issues. I wonder if I could produce a minimal test case.

[2015-12-15 05:32] katef commented on #20
I made a minimal-ish test case (containing just "A") from the version just before the bug, and an equivalent test case for the version with the bug. Looking at a diff between those, I've been reverting single lines to try and find a culprit.

I found that reverting this appears to give *almost* the right height glyph...
[code]

[2015-12-15 13:04] katef commented on #20
The way I'm testing this is:
[code]

Where `x.pe` is:
[code]

According to [the SFD documentation](https://fontforge.github.io/sfdformat.html), `LineGap` is the distance between lines *without* leading.

So I would expect that, with 0 leading, the Em square of one line ought to touch the next. In practice that means the lowest descender ought to be as close to the highest ascender of the next line

[2015-12-15 13:09] katef commented on #20
Setting a `LineGap` of `Ascent - Descent` looks to be what I'd expect (taking into account that `j` overhangs its Em square by a small amount). That's 730-270 = 460:
[code]
Which gives:
![x](https://cloud.githubusercontent.com/assets/1371085/11811303/a11096a6-a32c-11e5-926a-e30fd0863634.png)

This is what I'd expect for the current metrics, based on my understanding above. However this is quite di

[2015-12-15 14:20] katef commented on #20
[FontForge FAQ: How do I set the line spacing on a font?](https://fontforge.github.io/faq.html#linespace) - This also explains the difference for `.pfa`; PostScript fonts take the line spacing distance from the bounding box.

[2015-12-15 14:49] katef commented on #20
I think setting `LineGap` to 460 must surely be incorrect, soley because none of the examples and test fonts for FontForge have that. They have either 0 or 90. So I set LineGap back to 0.

Since this only seems to affect TTF output, I from the FAQ above I gather that this must be a problem with Crimson's OS2 values. So through some experimentation, I found this:

[code]

Which gives output that lo

[2015-12-15 17:30] skosch commented on #20
Whoa, that's interesting stuff. Would it help to make the j's descender a wee bit shorter then so it's inside the square? I have no objections to that if it helps.

[2015-12-15 18:34] katef commented on #20
@skosch I think the j descender ought to be addressed somehow — probably not by changing the glyph shape! Perhaps by increasing the Em square instead — but that's unrelated to the issue here. I imagine there are other glyphs outside the box, too. Fontforge also complains about a few validation failures, which also need fixing. Perhaps this is one of them.

[2015-12-15 18:44] katef opened #21 "Some glyphs overhang their Em square"
Is this okay? I know some fonts do this on purpose (Zapfino is an extreme example) but I don't think it's intentional for Crimson.
Should the Em square be increased?

[2015-12-16 01:02] katef commented on #20
Some more support; the other Crimson `.sfd` files all have negative HheadDescent. Surely Crimson-Roman's positive value must be a mistake!

[code]

[2015-12-16 01:36] katef opened #22 "Add PANOSE values for all faces"
Currently just Roman has [PANOSE values](https://en.wikipedia.org/wiki/PANOSE) set:
[code]

[2015-12-16 02:05] skosch commented on #22
... wow, you're really cleaning up in here! :) :+1:

[2015-12-16 02:07] katef commented on #19
Yes, I'm not signing up for that just yet :) I'm only intending to work on Roman for the moment, and probably just uppercase at first. Of course I agree about leaving the current glyphs where they are.

[2015-12-16 02:17] katef commented on #20
Here's a rundown of values which I think look suspicious:

                     |Bold|Roman|italic|BoldItalic
---------|----|---|---|---
LineGap       | 256|0|256|256
OS2TypoAscent | 742|730|742|742
OS2TypoDescent| -282|-270|-282|-282
OS2TypoLinegap| 256|220|256|256
OS2WinAscent  | 1130|830|1130|1130
OS2WinDescent | 427|370|427|427
HheadAscent   | 1130|830|1130|1130
HheadDescent  | -427|370|-427|-

[2015-12-16 02:27] skosch commented on #20
Amazing! Something is clearly wrong with the Roman. What is 'SbKo' – is that supposed to be my name? LOL. I swear I had no part in any of this!

Does equalizing the values solve your production problems, then?

[2015-12-16 02:31] katef commented on #20
Detective kate is finding out. ~pink panther music~

[2015-12-16 02:51] katef commented on #20
Setting Roman to have the same values for most of these does seem sensible, but unfortunately the glyphs end up in the wrong place relative to the other faces. They're vertically offset by some amount. Which makes me think that all the glyphs are drawn in the wrong place, and ought to be moved to match the other faces.

[code]

[2015-12-16 02:57] skosch commented on #20
Weird. They all have the same size em square, no?

[2015-12-16 03:18] katef commented on #22
But first proposed corrected values for Roman, since the existing ones seem to be gibberish:
[code]

[2015-12-16 03:30] katef commented on #20
Yes, but I believe the glyphs for Roman are drawn in different places within the square, than the glyphs for the other faces are. And this differences seems to be catered for by adjusting these metrics instead of positioning the glyphs in the same spot.

That's my hypothesis for the moment, but I haven't checked it in detail yet.

[2015-12-16 03:32] katef commented on #22
Committed in katef/Crimson@7a851de527ae8aa753469562a48cfdf08a5557d5. If you think that looks alright, I'll make a pull request (or whatever. I'm not super familiar with github).

[2015-12-16 03:54] katef commented on #20
If it turns out to be that the Roman glyphs are in the wrong place, then I was thinking perhaps I could make a Fontforge script to reposition them all.

But, it's possible that the glyphs will have been repositioned from original locations (consistent with the other faces) by 2d24623, which I noticed altered the outlines (i.e. I imagine to reposition them, rather than to change shapes). So I'll tr

[2015-12-18 00:05] katef commented on #18
Oh, had someone already committed this? I must've been confused! The current revision seems to have `fi` and similar present for the `liga` feature for the Italic face.

I'm going to mark it closed. False alarm :)

[2015-12-18 00:05] #18 closed

[2015-12-18 01:05] katef commented on #20
I think I'm wrong about glyphs being in the wrong place - or at least certainly I don't understand what's going on. However I committed the above values as katef/Crimson@c93ec58, without any other changes. That gives:
![c93ec58](https://cloud.githubusercontent.com/assets/1371085/11886495/bc24e558-a522-11e5-8100-074bf99482d3.png)

I think that's correct per the design intention. Notice the Roman is

[2015-12-18 01:09] katef commented on #20
(Side effect: j is now within its Em)

[2015-12-18 01:10] katef commented on #21
Roman's Em square increased by katef/Crimson@c93ec58, because it was different to the other faces.

[2015-12-18 01:29] skosch commented on #20
Cool. It really is strange, since I don't understand how the glyphs could have ended up vertically shifted. There's really only the one place to draw them, and that's on the baseline.

If you want these changes in the official repo you'll have to either create a merge/pull request or I can give you write access – maybe the latter is easier if you're planning on making more commits? In any case, th

[2015-12-18 01:34] katef commented on #20
I'd really like somebody else to confirm that this is correct though. And since you didn't complain about it, I presume the mismatched heights in my screenshot above are intentional for optical correction.

Commit access would be great! Thanks.

[2015-12-18 02:03] skosch commented on #20
Alright, you should be able to push now. And yeup, the height differences are indeed intentional for optical correction.

[2015-12-18 02:47] katef commented on #22
Committed in 0d1c492. It would be nice if somebody could check I got them right.

[2015-12-18 02:47] #22 closed

[2015-12-18 02:56] katef commented on #13
@skosch I'm trying to understand what's going on here. I understand that "fi" should not be a ligature for Roman because that's not neccessary. I think @adrientetar is asking for a long f as a stylistic alt (i.e. by `salt`). I think @Shaun-Type is asking for an fi ligature to be substituted as a non-default option, which would seem to suit providing that by `dlig`. Is that correct?

[2015-12-18 04:07] skosch commented on #13
Yeah, I think those would fit the bill. Though IIRC the extant ligatures derive from very old outlines and need a facelift, i.e. be constructed afresh from their constituent letters.

[2015-12-18 05:17] katef commented on #20
Thanks! Committed in 71a4e25. I'm going to close this ticket on the assumption that what I've done is correct; I have a hunch that if I wait for verification from other people, that it might be open for a very long time.

Anyone: Please re-open if this isn't the right approach :)

[2015-12-18 05:17] #20 closed

[2015-12-18 05:28] katef opened #23 "Redraw ligatures to current outlines"
Discussed in #15; some ligatures have outlines based on glyphs which have since been re-styled. These ligatures need re-drawing based on the new shapes for their constituents.

[2015-12-18 05:32] katef commented on #13
Okay. I propose removing substitutions to these ligatures from `liga`, and adding them to `dlig` instead. This applies for the relevant faces only, of course - i.e. Italic should keep fi in `liga` per #18.

Then we can close this issue, and that leaves #23 for re-drawing them.

[2015-12-18 16:31] katef commented on #23
@skosch  Here's the current `f i` ligature, with `f.short` superimposed. I have to say, this looks decent to me. Did these already get redrawn to match `f.short`, or am I misunderstanding what needs to be done here?

Would you prefer the arm of the f to be thinner? I could imagine it might be hollowed out a little from underneath, to match the weight of `f.short`, but I don't think the outer shape

[2015-12-18 17:06] skosch commented on #23
Okay, it wasn't as bad as I thought. I do agree hollowing out the arm is necessary to match the contrast, particularly towards 10 or 11 o'clock. Maybe match the shape of the cross stroke, and make sure the sidebearings are in line with f and i. I can take another look later if you like.

[2015-12-18 17:08] katef commented on #23
Oh yes, I hadn't noticed the shape of the end of the cross stroke. So much for my eye for detail!

[2015-12-18 17:35] katef commented on #13
@Shaun-Type I suppose it's about a year late for your purposes, but ca492c6 should provide what you want; now `liga` is just for things which ought to be present by default (currently we just have `Th` there), and `dlig` is what you'd set for your purposefully old-timey text, to explicitly bring in the `f...` ligatures.

Please re-open if anybody isn't happy with that.

[2015-12-18 17:35] #13 closed

[2015-12-18 18:40] katef commented on #10
I don't have a Windows machine, but I asked a friend to confirm this bug, using a fresh build of Crimson-Roman.otf from around ca492c6 or so. He says ł and Ł render fine in Windows 7.

@NumericalEvolution can you confirm that this still exists by generating an up to date OTF file? Which version of Windows are you using? I'd like to be able to reproduce this.

[2015-12-18 19:29] thebodzio commented on #10
As for me, for day-to-day use I'm running Linux, but for the rare cases when I have to use Windows, I'm using an ancient XP. Anyway…

I've built OTF from ca492c6 and it appears to work all right in both Linux and XP. The version that didn't work (in Windows XP at least) was the one from the “Desktop Fonts” folder in the repo.

[2015-12-18 19:31] adrientetar commented on #10
I have fixed some of the overlaps in the regular weight but they are numerous (so many diacritics were generated in the font).

[2015-12-18 22:07] katef commented on #10
@adrientetar How do you fix that sort of thing? Is it just a case of changing the direction for the outline?

[2015-12-18 23:02] katef opened #24 "Bar for Ł slightly unbalanced"
It strikes me that the bar for Ł seems a little bit too long on the right hand side. I find it unbalanced. I don't think it should be exactly symmetrical, but I do think it should be a *little* bit shorter on the right hand side. Looking at other similar fonts, that seems to be the consensus. What do people think?

Unrelated, there's also the optical illusion that a diagonal going through a vertic

[2015-12-18 23:42] katef commented on #24
It might also make sense to justify the length with a slight thickening, in much the same way as the curve going towards a serif. Here's an extreme example of that:
![ldash2](https://cloud.githubusercontent.com/assets/1371085/11909619/f9536012-a5e0-11e5-9332-281c63b7f3ac.png)

[2015-12-19 03:13] katef opened #25 "Opentype features for contextual alts"
Hello! I saw there's a glyph for a long-tailed Q, `Q.alt01`, and I thought I'd try that as an example for contextual alts.

The way I've implemented this involves two parts:
 1. Substitute `Q` → `Q.alt01` for `salt`
 2. Have `calt` match `Q u` and apply `salt` for the Q

I tested this on Roman only, illustrated here with `smcp` set:
![quickly](https://cloud.githubusercontent.com/assets/1371085/119

[2015-12-19 03:58] skosch commented on #25
That makes sense to me! This has been an easter egg of sorts because it was only an experiment very early on. The shape and stroke constrast of the long-tail Q would need work to match the regular Q before any `salt`/`calt` rules are added, just as with the `fi` ligature.

[2015-12-19 04:07] skosch commented on #24
Whoa, you're really on fire, so many issues! Thank you :)

Not a Polish speaker, so this glyph probably didn't get the love it deserves. I don't object to shortening/shift correcting the bar at all, though it is something that would have to happen in all six weights. The flaring in Galliard looks *really* neat, but you'd have to experiment with it ... all other crossbars/hyphens/dashes/etc in Crim

[2015-12-19 04:08] katef commented on #25
Okay! I'll leave this ticket open until that's redrawn. Are there any other glyphs to redraw? Let's list them all on #23.

[2015-12-19 04:18] katef commented on #24
Specific language conventions aside, my view is that the flaring makes sense for an old style font because in theory, why would a perfectly rectangular shape ever be present? That doesn't relate to any calligraphic source I could imagine.

[2015-12-19 04:19] skosch commented on #10
Fontforge has a validation tool, but I remember being unable to silence many of the warnings even after fixing what seemed to be the underlying problems, so I gave up eventually (this is a few years back). It's likely that there are still a whole bunch of reversed outlines, but I'm also on Linux and haven't had problems.

[2015-12-19 04:19] katef commented on #24
Perhaps this bar should have its ends softened to match the hyphen.

[2015-12-19 04:31] skosch commented on #24
Well, perfectly rectangular shapes do appear quite naturally when clueless teenage designers toy around with font editors :) Some of the design choices in the font were made deliberately, but when in doubt it's safe to assume they weren't.

[2015-12-19 07:44] adrientetar commented on #10
@katef Right-click on glyph > properties and you have a checkbox "remove overlap when generating"

[2015-12-19 10:09] katef commented on #10
@adrientetar Thanks!

[2015-12-19 16:39] katef commented on #25
Body of `Q.alt01` redrawn in b132570. I left the tail untouched, because that's a design decision.

[2015-12-19 17:48] katef commented on #25
`Q.alt01` would also need a mapping for `c2sc`.

[2015-12-19 17:52] katef opened #26 "Add aalt Opentype feature"
`aalt` is probably not essential, but ought to be present.

[2015-12-19 18:36] katef opened #27 "Duplicate `slash` glyph in Roman"
Roman has two glyphs named `slash`. These look identical in shape, but the outlines have control points specified slightly differently. Which one do we want to keep?

`Encoding: -1 47 14`:
![xxxslash](https://cloud.githubusercontent.com/assets/1371085/11914741/109831b4-a67f-11e5-94eb-2858e9ba1b7c.png)

`Encoding: 15 47 1422`:
![yesslash2](https://cloud.githubusercontent.com/assets/1371085/11914751

[2015-12-19 18:49] katef commented on #23
Is this how you want it? All I changed was the left-hand control point for that one horizontal bezier.

![fi1](https://cloud.githubusercontent.com/assets/1371085/11914794/1ecafc56-a681-11e5-8cc6-ac8d9846654d.png)

[2015-12-19 19:23] skosch commented on #23
Much better already! Here's how I would do it:
![fi](https://cloud.githubusercontent.com/assets/554383/11914891/b72ac3bc-a642-11e5-9908-c5e78365851e.png)

* When adjusting curves, I try to move the bezier handles on both sides, not just one, so that the curvature of the line changes more gradually at the horizontal bezier point (in this case, pull up the tangent point on the left and extend its co

[2015-12-19 19:38] katef commented on #23
Ah I see, and you're extending the vertical underneath, so the horizontal bezier needs less asymmetry. Thanks for the tips!

[2015-12-19 21:14] katef opened #28 "Various accents aren't emboldened for Bold"
Ł, č, ō and a few others have accents which are not bold, and these need fattening up a little. This is true for Semibold, too. Other accents, such as ċ, do seem to match the font weight.

[2015-12-19 21:21] katef commented on #28
Oh, sorry, some of those are different for Bold. But e.g. Đ is perhaps too small of a difference. In any case Ł seems identical between the weights.

[2015-12-20 12:08] katef commented on #25
I'm having trouble redrawing the long tail for `Q.alt01`, so as to introduce some stroke contrast. I do love the origional being a long, sweeping stroke, but I can't seem to make that work well.

Here's the Q on the side of the Oxford book of Quotations, which is a lot shorter, but has a pleasant up-curve to it.

![quoed](https://cloud.githubusercontent.com/assets/1371085/11917864/6e8acede-a711-11

[2015-12-20 12:35] katef commented on #24
Here's what I'm proposing for Ł. It looks pretty crazy, but the lowering of the right hand side is to account for the optical illusion I mentioned.

I took the shape from Crimson's hyphen, and rotated it into place. This way it has the rounding at a slight slant.

I think it's slightly too light. If you're happy with the idea here, then I'll do the same for the other faces, and sort out the weight

[2015-12-20 16:01] katef opened #29 "Switch to Feature File format for OpenType features"
I want to have better control over specifying features; FontForge's GUI presents a relatively low-level interface for what's going on. It's much saner to use Adobe's [Feature File format](http://www.adobe.com/devnet/opentype/afdko/topic_feature_file_syntax.html) to encode these as higher-level constructs, and keep that as the canonical source. FontForge can then load this data. Here's a nice descr

[2015-12-20 18:44] skosch commented on #24
Yeah, might be ever so slightly too thin but I fully approve otherwise!

[2015-12-21 00:22] skosch commented on #25
I actually like what you did there!

The main issue, I think, is that the overall curvature is *too* uniform along the entire tail, and the stroke contrast tapered *too* gradually. For a slightly more calligraphic feel, I would try to make both the left and right half a bit straighter, and the left half noticeably thicker than the right. I would probably shift both upper and lower extreme points t

[2015-12-21 17:56] katef opened #30 "Polish Kreska in the wrong place"
This is a fun one. The Kreska accent, ó, looks like an acute, but is actually a slightly more vertical shape. Unicode has the codepoint in the same place, and so this requires a language specific substitution to an alternate set of glyphs.

Comparison here: http://www.twardoch.com/download/polishhowto/kreska.html

[2015-12-21 17:59] katef commented on #30
Probably best to wait for #29.

[2015-12-21 19:22] katef commented on #24
I'm making the end caps vertical (with slightly rounded corners) instead, because that's the convention.

[2015-12-21 19:37] katef commented on #24
Here's where I am currently. The weight is actually supposed to be around the weight of a serif's width!

![l1](https://cloud.githubusercontent.com/assets/1371085/11939454/32c04c6c-a81a-11e5-83b7-331954ecb909.png)

[2015-12-21 21:34] katef opened #31 "Ł missing from c2sc in Bold"
Possibly others too; I'm making this ticket to remind myself to check.

[2015-12-21 22:56] katef opened #32 "Round coordinates to integers"
I think TrueType suffers on some implementations when outputting non-integer coordinates; this applies inside OTF, too. FontForge also complains about this. I think we need to round off all coordinates to integers.

[2015-12-21 23:06] katef commented on #24
I'm happy with the vertical offset to counter for the illusion of the diagonal against the stem. But I'm not happy with the way I'm trying to counter for the convex appearance along the stroke, and with the convex appearance relative to the glyphs' left edges. So I might abandon that part, and leave the edges parallel instead.

[2015-12-22 05:19] katef opened #33 "Stylistic alt for A-ogonek"
[There are two correct ways of attaching ogonek to the base serif of capital A](http://www.twardoch.com/download/polishhowto/ogonek.html):

![a1ogonek](http://www.twardoch.com/download/polishhowto/a1ogonek_galliard.gif)

Note this is not an accented letter A; it's a different letter, and the ogonek is part of the letter shape.

Crimson currently attaches in the centre of the stem. I think the styl

[2015-12-22 21:05] katef commented on #24
@skosch I'm re-drawing these, and I just wanted to check you're happy with how I'm doing the ends. I couldn't find a similar curve elsewhere at this kind of angle, so I made my own. I weighted the curve slightly to the top, with inspiration from the style you have for a hyphen and the slash through Ø.

The upper node is slightly to the left of the lower one, such that the curve seems vertical on a

[2015-12-22 22:51] skosch commented on #24
Love it! :)

[2015-12-22 23:04] skosch commented on #33
Hmm, that's weird. I distinctly remember looking at Adam's page on Polish diacritics (i.e. the image you posted above) and putting the ogonek in the middle ... but I have no clue how I arrived at that decision, given that the merged version looks so much more elegant.

I say go for it, and just replace the glyph itself. No need for a stylistic alt, unless you think anyone would make use of it.

I

[2015-12-22 23:26] katef commented on #33
Okay, I'll replace it! Ą never starts a word, by the way, so I think the main use case for a capital form would be either all caps, or with small caps.

I'm English and I'm learning Swedish, but I thought the Polish things seem often neglected, so I just thought I'd learn about them and try to sort them out.

[2015-12-23 21:48] katef opened #34 "Missing Æ and Œ smallcaps"
The `ae.sc` and `oe.sc` glyphs look like placeholders, and need to be drawn properly.

[2015-12-23 21:51] katef commented on #34
In Roman, what's `ae.sc.alt01` supposed to be?

[2015-12-23 21:52] katef opened #35 "Missing 9 ordinal"
The `nine.ordn` glyph looks like a placeholder, and needs drawing.

[2015-12-23 23:29] skosch commented on #34
Not sure what that placeholder thing is, sorry. I don't remember making it, but then I don't remember much that happened five years ago.

I suppose an appropriate use would be a ligated small cap Æ, whereas the regular small cap is a broken-up AE. Thoughts?

[2015-12-24 00:06] katef commented on #34
I don't think that would suit e.g. Danish, where I think Æ must be a ligature. My hunch is for both `ae` and `ae.sc` to be ligatures, else why provide them in the first place?

[2015-12-24 01:28] skosch commented on #34
If I had to guess, I probably got the justification for breaking them up from some long gone ivory-tower Typophile thread. I don't recall what it was exactly.

You're absolutely correct about Scandinavian orthographies requiring them though, so it's Kate 1, Seb 0. (Well, probably more like 5-0, by now.)

[2015-12-24 04:07] katef commented on #34
Us 6, World 0 :)

[2015-12-24 06:49] katef commented on #29
Bold seems to be missing substitutions for a lot of characters for `c2sc`, for which substitutions are present for `smcp`. That's a bug, but I'll fix it as part of normalising the character classes for feature files. It's nice that these files make this sort of omission clear.

[2015-12-24 11:14] katef opened #36 "Provide smcp ß by character substitution instead of a ligature"
I think we have almost exactly the opposite situation to #34 for ß - that is, a ligature which I think ought to be substituted for two characters.

Currently `germandbls.sc` (can we name it `esset` instead?) is drawn as two capital 'S' characters, which I think is correct because ß is lowercase, and so would become two S characters on converting to capitals.

However I would rather provide `smcp`

[2015-12-24 18:06] katef commented on #36
Er, eszett, that is. My spelling isn't great in English, let alone German :)

Alternately, I think this style would suit Crimson:
![sz](http://typography.guru.bucket01.s3.amazonaws.com/monthly_2015_01/kloesse.thumb.jpg.9f4899bba405c0588d964fadd9d2ad29.jpg)

With a nice rundown here: http://typography.guru/journal/how-to-draw-a-capital-sharp-s-r18/

[2015-12-24 18:16] katef opened #37 "Smallcaps for dotless j and dotless i"
Dotless j currently has no entry for `smcp`; dotless i does.

I propose adding a new `dotlessj.sc` to go alongside the existing `dotlessi.sc`. I think `dotlessj.sc` should reference `j.sc` in the same way that `dotlessi.sc` references `i.sc`.

[2015-12-24 19:17] skosch commented on #36
Yeah, you have a point in that users can't track out the SS. I'm happy with your suggestion, if you can make it work. I've never seriously looked into how OpenType features work, save for simple ligature substitutions so I didn't even realize what you suggested was an option.

I find that capital ß charming. Growing up in Germany I very very rarely encountered it – for some inexplicable reason I a

[2015-12-24 19:34] katef commented on #36
It would also be possible to implement `smcp` to substitute ß for two `s.sc` characters, with a capital ß glyph instead as a stylistic alt. If the capital glyph feels so charming as to be old fashioned, maybe that's a better approach.

Personally I really like the glyph! The angle reminds me of the middle part of "M". I will try drawing it, but not right now.

I'm working on getting #29 into shape

[2015-12-24 20:37] katef opened #38 "Provide stylistic alt for dcroat"
The `dcroat` glyph đ is sometimes drawn with the stroke going through the bowl, rather than the stem. We ought to provide that as a stylistic alt.

[Some discussion here.](https://en.wikipedia.org/wiki/D_with_stroke)

![barredd](https://upload.wikimedia.org/wikipedia/commons/f/fd/Dbarbowl.svg)

[2016-01-03 21:48] katef commented on #36
Hello from Åland! Happy new year!

I had a go at drawing out the above idea for capital ß in Crimson's serif style. Please note this is to smallcaps proportion; it is not uppercase. So of course it looks relatively quite wide.

I don't think it's all quite there yet (particularly the joint top-right is a bit awkward), but I'm thinking of it calligraphically, in terms of how I might angle an obliqu

[2016-01-04 03:04] skosch commented on #36
Happy new year! Love it so far, great start. I would …

* even out the inner left curve a little bit (the left handle of the horizontal bezier extends past the vertical point – I try to avoid that, because it creates an extra inflection in the curve)
* flare out the curved part (the incoming stroke) going into the top right transition, to help emphasize the calligraphic thick-thin constrast. In pa

[2016-01-06 02:00] katef opened #39 "Roman fl too close"
I realise the Roman face is designed intentionally such that the usual f- ligatures should not be neccessary, but this looks too close for comfort, to me:

![b](https://cloud.githubusercontent.com/assets/1371085/12133028/4ccf3590-b419-11e5-9c3d-1204d0dfc67e.png)

[2016-01-06 07:24] skosch commented on #39
Blown up this way, it sure looks precariously close. Feel free to create a ligature instead or to try adding a kerning pair, but I'm reluctant to change the spacing by much, and here's why:

The metrics were done by Igino Marini and his iKern scripts (look it up – cool stuff!), and designed to make for an even overall colour. At text sizes, this translates mostly to evenly/rhythmically spaced vert

[2016-01-06 07:32] skosch commented on #39
(To be clear, when I say "Crimson is a text font", that's not me issuing some arbitrary self-important edict on font usage, but simply a function of the font's proportions, serif thickness, etc.)

[2016-01-06 12:21] katef opened #40 "Italic long S shouldn't have an arm"
I've been looking at similar typefaces; for those which have an arm for an f-like ſ, their corresponding italic faces do not have an arm. I think Crimson's italic should follow suite.

[2016-01-06 12:25] katef opened #41 "Do something with long s for smcp"
Curiously I see Minion Pro leaves ſ as-is under `smcp`. But other typefaces substitute it for a smallcap `S`. There's also an obscure capital ſ form, which looks like a ʕ. I've never seen that used, and I doubt anybody would recognise it, but it does exist.

My complaint about leaving ſ is that I'd expect a consistent x-height from `smcp`, and this glyph breaks that. So I think we should do ''some

[2016-01-06 12:30] katef commented on #39
No no, that doesn't sound obnoxious at all. I understand it's a text font! And I agree that the horizontal spacing is correct for the body of the glyphs here; I wouldn't want to make them further apart, because the verticals are in exactly the right places.

My complaint is only that they almost touch at the top, and that seems clumsy to me. I'm specifically thinking about at text sizes; 12pt or s

[2016-01-06 17:26] katef commented on #29
An update on where I am with this: Currently the `.fea` files are looking decent for substitutions. FontForge merges these just fine, and I'm considering `.fea` canonical for that information, now.

However FontForge seems to zero-out the kerns when merging in feature files, which is unfortunate because I expected "merge" to be a union of data, rather than a replacement. So it may be that we'd nee

[2016-01-06 17:31] katef commented on #29
Some discussion on fontforge/fontforge#2603.

[2016-01-06 18:49] skosch commented on #41
+1 for ſ → s.sc

[2016-01-06 18:52] #41 closed

[2016-01-06 18:52] skosch commented on #40
Totally should not have an arm. Amputate before it grows another one!

[2016-01-06 18:56] katef commented on #40
Is that the case for italic ß too?

[2016-01-06 19:06] skosch commented on #40
I'd say so, yeah.

[2016-01-06 19:17] skosch commented on #39
That might work, if you can make it obvious that the l is accommodating the f and not just a defective, stunted version of itself. Otherwise, a proper ligature may be in order. A third option may be to actually extend the l's serif to simply remove the small gap between the letters. Up to you!

[2016-01-06 19:25] skosch commented on #29
Good question. I just checked my old emails and alas, Igino only sent me `.vfb` and `.otf` files. I'll email him right now.

[2016-01-06 19:31] katef commented on #40
Committed in c9d7640.

[2016-01-06 19:31] #40 closed

[2016-01-07 16:03] katef commented on #34
Too heavy at the joints?

![oe](https://cloud.githubusercontent.com/assets/1371085/12175070/1aa636a0-b558-11e5-92c5-398b07d8b69e.png)

[2016-01-07 16:33] katef commented on #39
I think extending the serif would work in the least invasive manner. Just so that it looks intentional.

[2016-01-08 04:19] skosch commented on #34
Maybe, by the slightest bit? I don't see anything wrong with it besides that though.

[2016-01-08 15:21] katef commented on #29
Kerning delivered in 520f689, from personal communication of Igino Marini's `.fea` files.

[2016-01-08 15:30] katef opened #42 "Kerning references non-existent glyph names"
520f689 commits Igino Marini's iKern feature files. Unfortunately the glyphs he references seem to have been renamed since then. Merging them gives lots of errors like:
[code]

[2016-01-08 15:38] katef commented on #42
@skosch I'm not sure what to do about this. I don't want to just comment out the offending glyphs because then obviously we'd be missing their kerns.

I presume asking him to update those `.fea` files to the current name would involve re-doing the work (and therefore cost?), because there's no automatic mapping between the old names and the new names.

Or I misunderstood and there was no such rena

[2016-01-08 16:54] skosch commented on #42
Aw shucks. I don't recall renaming anything, but then all of this was over four years ago. It may all have to do with his internal way of doing things; I believe like he converted to `vfb` (Fontlab) first and worked with those, and I wouldn't be surprised if Fontforge's internal references got lost in the process. Sorry that I can't be of more help :(

Does it tell you which glyphs are missing, or

[2016-01-08 18:08] katef commented on #42
I could simply comment out the offending lines, but then I fear we'd be missing a bunch of kerns.

[2016-01-13 01:30] katef commented on #42
As a concrete example, `Crimson-Bold#00_ik.fea` refers to `zero.onum`. But `Crimson-Bold.sfd` does not contain `zero.onum`. So commenting that out will be harmless.

However I'm not currently sure that there aren't glyphs which ought to be referenced, but somehow aren't.

[2016-01-14 00:38] katef commented on #42
7c8c2ab adds a makefile target to automate commenting out of these unused glyph names. However it (purposefully) does not comment out lines which are sets of character classes, since those also contain other glyphs. I could handle those differently, perhaps, but I like the simplicity of it being line-based.

I might extend the target to comment out the line, and then append a copy of the line with

[2016-01-14 03:45] skosch commented on #42
Nicely done! Unfortunately I really don't know what to do either. Is it at all an option to just use whatever Fontforge dumps out instead, beauty and simplicity be damned?

[2016-01-14 14:25] katef commented on #42
Yes, that's possible.

I'll compare against that after I'm done with automating commenting for the iKern files. If the iKern files just contain glyphs which do not exist, then the set of glyph names should be identical for both.

[2016-01-14 20:50] katef opened #43 "Borrow ordn glyphs for smallcap digits"
Can we use the `ordn` glyphs for small-cap lining figures? Shifted to the baseline, of course.
It'd look like this:
![ordnsmcp](https://cloud.githubusercontent.com/assets/1371085/12337182/6941f2e2-bb00-11e5-99ac-d99b9b05ec19.png)

[2016-01-14 22:15] skosch commented on #43
Eh ... I think they look a bit anemic, but they're better than no numerals at all right? Maybe with slightly tighter spacing and/or scaled up a tiny little bit?

[2016-01-14 22:17] katef commented on #43
I think they're also a tiny bit short, so maybe just scaling them *slightly* might work out just right?

[2016-01-14 23:44] katef opened #44 "Disable Th ligature under smcp"
This is not the intended effect!
![thirdly2](https://cloud.githubusercontent.com/assets/1371085/12341318/b54c8dc4-bb18-11e5-8b54-9ca0c7e18068.png)

This is waiting on #29.

[2016-01-15 04:14] skosch commented on #43
Yup :+1:

[2016-01-22 03:17] Spamtrap opened #45 "Crimson font gives 'double-spaced' appearance in various applications on OS X."
System is OS X 10.11.1.

Installed OTF files generated from revision 15da94b.

There is a fair bit of extra vertical space above/below each character, lending it to look like the line spacing is set to double-spaced.This appears in a number of different applications and does not happen with similar fonts, like Minion.

[2016-01-23 03:16] skosch commented on #45
Thanks for the bug report! Not sure what to tell you off the top of my head, sorry @Spamtrap ... vertical metrics have been a problem before, then @rainerschuhsler and @adrientetar worked some magic and it looked like everything was fixed, then @katef found some more issues and made a few changes ... so tracking down the exact cause isn't straightforward I'm afraid. Also, I don't have a Mac :(

Ca

[2016-01-24 00:12] katef commented on #45
I don't think screenshots would add much of value :)

I suppose there's some value which is used by MacOS's rendering, but not by others.

I'm working on having the build automated (after #29 is done), so it'll be easier to see that everybody is using the same files. I think testing isn't reliable enough until then.

[2016-01-30 22:13] katef commented on #25
Interesting Qu with a straight tail here, from a Caslon:
http://ilovetypography.com/2010/07/26/reviving-caslon-the-snare-of-authenticity/

Maybe the straightness works better with Crimson's Q?
I like it — better than the curve, actually. I think it's rather confident.

![quc](https://cloud.githubusercontent.com/assets/1371085/12698794/7f8274b4-c79e-11e5-96dd-ce85e9a93d7c.png)

[2016-02-08 18:15] kainonergon opened #46 "Cyrillic capital letter "П" is too narrow"
When Cyrillic capilal letters П, Н, И, Ц occur in the same paragraph, the letter П appears too narrow in comparison with the rest of them. See an examlpe in the attachment.
[hello.pdf](https://github.com/skosch/Crimson/files/121987/hello.pdf)

[2016-02-09 11:33] katef commented on #46
Thanks! Should the verticals be the same distance apart as the verticals in И?

[2016-02-09 21:47] kainonergon commented on #46
I think all letters with two long vertical lines should have almost the same distance between them. Maybe И can be a bit wider, but just a little. Something like Latin letters N, H and U.

[2016-02-11 07:15] katef opened #47 "Bold arrow end stroke incongruous with roman arrow end stroke"
Roman on the left, bold on the right, compared to their respective hyphen. This surely isn't intentional.

![arr](https://cloud.githubusercontent.com/assets/1371085/12971101/1f0932d6-d08f-11e5-9677-92f29b57988d.png)

[2016-02-11 16:33] ralessi opened #48 "Greek accented letters are missing inside \emph{} or \textbf{} commands"
Thank you very much for providing such a beautiful font!

I noticed that Greek accented letters disappear inside `\emph{}` or `\textbf{}`.  Try this for example:

[code]

[2016-02-12 03:20] katef commented on #48
Roman on the left, Bold on the right. What on earth happened to that accent!

![g](https://cloud.githubusercontent.com/assets/1371085/12998061/22fb5204-d137-11e5-8612-d0e514708a79.png)

[2016-02-12 06:38] ralessi commented on #48
Well, further investingating this issue leads me to think that it may not be related to Crimson.  If I run the above mwe through xelatex, I get this:
![xelatex](https://cloud.githubusercontent.com/assets/389498/13000461/e2eb89da-d15a-11e5-9873-90576d0a72a6.png)
But If I run it through lualatex (which I did in the first place), I get this:
![lualatex](https://cloud.githubusercontent.com/assets/3894

[2016-02-12 14:36] katef commented on #48
Yes, the accent is more than a bit forward! That's what I was posting my image to show.

My guess is that LuaLaTeX sees that the accent is entirely outside the glyph's bounding box, considered it an error, and perhaps opts to not render the glyph accordingly. That's just a guess, but this is definitely a bug in Crimson.

[2016-02-12 17:24] ralessi commented on #48
Ok, I misunderstood what you meant, although it was very clear. So yes, what on earth happened to that accent,to say nothing about the one not showing up at all under lualatex!

[2016-04-23 22:35] jakubmarian opened #49 "Can't install the Bold Italic version on Windows"
I have tried everything I can think of to install the Crimson font family into my Windows 10 , but I can't seem to be able to install the Bold Italic font properly. Although the Crimson-BoldItalic.otf file gets copied into the Windows Fonts folder, I don't see the Bold Italic version when viewing the family in Windows Explorer (Control Panel\Appearance and Personalisation\Fonts\Crimson).

When I i

[2016-04-24 21:22] skosch commented on #49
Thanks for reporting this @jakubmarian. Unfortunately I'm on Linux without a copy of Windows 10 handy, so I'm not in a position to test this :( Hopefully someone else can look into it?

[2016-06-10 13:13] gambhiro opened #50 "small caps ṇ"
The small caps ṇ displays the lowercase ṇ:

![ajahn-nanarato](https://cloud.githubusercontent.com/assets/1586232/15965402/8387ef2e-2f15-11e6-90b7-8bd83876c498.png)

[2016-06-10 13:36] perandre opened #51 "Font size is rendered too small on iPhone 6 (latest OS)"
![comp](https://cloud.githubusercontent.com/assets/118979/15965818/6a7247b8-2f20-11e6-9487-8d5aafafcc1c.png)

Using the version on Google Fonts, the font rendering is buggy on my iPhone 6. This is true for both semibold and roman, at least.

[2016-06-10 13:38] perandre commented on #51
Rendering in Sketch corresponds to what I see in Chrome on Mac, however.

[2016-06-10 14:21] skosch commented on #51
@perandre I wish I could help, but the issue is that Google is serving you an ancient version of the font, and so far they've ignored all requests to upgrade (@davelab6 hint hint :smirk:)

[2016-06-10 14:47] perandre commented on #51
@skosch Ah, thanks! I'll switch to self hosted and test (and update issue title!). Closing!

[2016-06-10 14:47] #51 closed

[2016-06-14 23:40] be5invis commented on #49
Your nameID#2 (which is subfamily) is incorrect. The right one is “Bold Italic”, instead of “BoldItalic”.

[2016-06-14 23:41] be5invis commented on #49
And you are missing nameID#16 and 17 (Preferred family and style)

[2016-06-15 00:17] skosch commented on #49
Whoa, can't say I was expecting a random visitor to come in and make this precise a diagnosis :)  多谢！

[2016-07-22 22:08] pdattx opened #52 "old style numerals"
Maybe it's possible to set the old style numerals figures very easy, 'cause the numbers seems to fit very good if there are in other positions for the oldstyle.

Just a thought...

[2016-07-22 23:32] skosch commented on #52
Not sure I understand your question, can you clarify? You can use whichever figures you like best.

[2016-07-23 13:35] pdattx commented on #52
I mean something like this:
http://f.tqn.com/y/desktoppub/1/S/I/r/3/4FigureStyles.PNG

The oldstyle mubers are sometimes a variation, because of the weight. Like the bottom circle from the eight, but I don't know if it's necessary - just the other positioning of numbers would be awesome.

[2016-07-23 23:50] skosch commented on #52
Oldstyle numerals are already available in the font, starting at glyph 1206 – check the `onum` OpenType feature. How to access them depends on your OS and application, though.

[2016-07-24 19:20] pdattx commented on #52
Well, the css-command for that seems to be:
-moz-font-feature-settings:"onum" 1;
-ms-font-feature-settings:"onum" 1;
-o-font-feature-settings:"onum" 1;
-webkit-font-feature-settings:"onum" 1;
font-feature-settings:"onum" 1;

but the webfont doesn't react with that. What is my mistake?

[2016-07-24 22:16] skosch commented on #52
If I remember correctly, the webfonts in this repo have many of those "special" glyphs removed, because they're rarely used. You can use tools like the webfont generator at fontsquirrel.com to subset your own webfonts from the desktop versions, though.

[2016-07-25 06:18] pdattx commented on #52
ok, thx

[2016-07-25 13:08] #52 closed

[2016-08-21 12:15] epsil opened #54 "Inconsistent line height in Safari"
Italic text causes uneven line height when viewing the page in Safari (Mac and iPhone). The attached screenshot shows the problem.

<img width="686" alt="gll" src="https://cloud.githubusercontent.com/assets/1250296/17837029/f79b9aee-67a7-11e6-9d5e-71233bda2648.png">

What's curious is that the standard web fonts do *not* have this problem. The problem occurred when I went to Font Squirrel to gener

[2016-08-21 12:43] epsil commented on #54
Italic small caps are also behaving strangely:

<img width="231" alt="caps" src="https://cloud.githubusercontent.com/assets/1250296/17837237/8a2e68be-67ad-11e6-8d16-53f432cdfbb5.png">

[2016-08-21 23:53] skosch commented on #54
Thanks for the bug report!

First off, that's an great article and one more reason for me to give Racket a serious look. Great styling too – my only suggestion would be to use a proper webfont for the headings, too; I'm on Linux and I get Arial as my fallback, which, *meh* …

Now, as for the line heights, I'm not sure what to do. The screenshots at http://levien.com/webfonts/vmtx/ seem to indicate

[2016-08-22 08:42] epsil commented on #54
Sure; I'd be happy to help out in any way I can.

It appears to be a Safari-only bug: it occurs in Safari on iOS, Safari on OS X and Safari on Windows (5.1.7). Firefox is okay, Chrome is okay and Internet Explorer is okay.

What's noteworthy is that Safari has *no* rendering issues with the **web fonts in the repo**. It is *only* the desktop fonts, or web fonts generated from the desktop fonts, th

[2016-08-22 14:03] skosch commented on #54
That's good news, I think. The webfonts seem to be generated from the source files using the two scripts in the `bin` folder, and then via Font Squirrel using the settings in `generator_config.txt`. The Desktop Fonts are over a year older – don't ask me why; but maybe that's the reason. I'll try generating a new set of Desktop Files.

I'll see if I can find and remove that misconfigured I → İ subs

[2016-08-22 16:15] skosch commented on #54
Ahhh ... wait. Could this be a side effect of #20?

@katef HELP :flushed:

[2016-08-23 13:57] epsil commented on #54
In #20, @katef identified, by bisection, commit 2d24623 (2015-04-12) as introducing problems. *This* bug, on the other hand, is much, much older: it goes all the way back to the first commit, i.e., f1a62c92 (2013-08-04). Generating from the OpenType fonts in that commit *still* produces the bug.

Which isn't to say that @katef wasn't on the right track, but this wasn't introduced by anything she d

[2016-09-14 16:58] guess-and-correct opened #55 "Font files are out of date"
Could you update `Desktop Fonts` and `Web Fonts` directories?

[2017-01-11 15:41] StefanPeev opened #56 "Support for the traditional Cyrillic and for the modern form of Bulgarian Cyrillic (by .loclBGR)"
I would like to collaborate in the development of Crimson font family in the field of the traditional Cyrillic and of the modern form of Bulgarian Cyrillic ( .loclBGR). Here is attachment with example of the modern form of Bulgarian Cyrillic for Crimson Text Roman.

![languages_crimsontext_02](https://cloud.githubusercontent.com/assets/12949369/21854754/a2523398-d824-11e6-86c1-06201bd50e8a.jpg)

[2017-01-11 15:53] skosch commented on #56
Thank you for offering to contribute!

Before you spend too much time drawing glyphs: the sample you posted is based on a very old version of the font. To keep things consistent, I would suggest you grab the latest files from this repo and make the additions there.

[2017-01-11 16:04] StefanPeev commented on #56
May I work with the FontForge source files and return my offer again in FontForge .sfd files?

[2017-01-11 16:18] skosch commented on #56
Certainly – though due to a bunch of back-and-forth with other contributions I'm not sure at this point what the proper build process is, so I'm reluctant to replace the binaries right now. You're certainly welcome though to submit patches to the source files and compile them however you like for your own usage until I figure out how to get a proper build process in place. I hope that makes sense?

[2017-01-11 16:38] StefanPeev commented on #56
I suggest to mark in cyan all the new glyphs, which I offer and to make a proper description of the changes in the FontForge files.

[2017-03-14 01:45] StefanPeev opened #57 "Error in the source file Crimson-Bold.sfd"
@skosch Two equal glyph one on the top of the other in uni00B5 (file: Crimson-Bold.sfd).

[2017-03-17 13:53] skosch opened #58 "Reproducible build process"
I am not an expert on font production. I don't know how fonts (should) behave across different browsers, applications and OS, let alone what users' requirements are regarding OpenType features, hinting, subsetting, webfonts, etc.

I would like to figure out a process (build script?) to take care of the above, in order to help me and others take care of the 30+ issues that have accumulated on this

[2017-03-17 13:59] adrientetar commented on #58
Hey. These days I"d just use [fontmake](https://github.com/googlei18n/fontmake) with UFO sources.

[2017-03-17 14:02] skosch commented on #58
Sweet! Glad I asked, I'd never even heard of that. That looks great

[2017-03-17 18:13] skosch commented on #58
I think we have to fix #42 first, there's no way around it. I've opened fontforge/fontforge#3048.

[2017-03-17 20:05] adrientetar commented on #58
You can try exporting to UFO from FontForge and then putting the fea files in the UFO. I see there were cleaned up manually.

[2017-03-18 15:28] skosch commented on #58
So I've tried that, but at the end of the day I get the same errors in FontForge. There are a few glyph names that don't reference nonexisting glyphs in the font. FF doesn't tell me which ones they are, just the line numbers, and there's a ton of them. Some of it has to do with glyph naming (that I can take care of), but others I believe were introduced by Igino Marini's iKern program and have nev

[2017-03-18 15:35] adrientetar commented on #58
Well, I guess you could write a script to parse the FEA file and take the glyph names inside groups @group = [<glyph names>]; they are space-separated then for each name check if it's in the font and remove it in the file is that's not the case.
That's a bit gross but it should do the job, otherwise it might be possible to use fonttools.feaLib to parse the fea then access the glyph names in the AS

[2017-03-18 23:05] katef commented on #58
Here's what I think happened: Igino Marini must've written a program which groups glyphs into categories, and defined kerning rules for those categories (and then I guess tweaks stuff by hand where necessary). And then his code which outputs those categories presumably lists every glyph which possibly belongs in them - even ones this particular font doesn't have. I imagine those are categories he'

[2017-03-18 23:44] skosch commented on #58
I have arrived at precisely the same conclusion. I just spent all afternoon manually removing any and all references to the phantom glyphs and, after some hours of pythoning and regexing (and cursing) have managed to convert all sfd+fea files into .ufo folders. @adrientetar your comment was super helpful – I couldn't have done it without `feaLib` for sure, so thank you.

I am now trying to use fon

[2017-03-19 02:28] skosch commented on #58
... alright, I've uploaded stuff to the `ufo` branch. According to FontBakery, a whole bunch of metrics numbers are off :roll_eyes: but for now I have to get some sleep. Feel free to test and tweak things!

[2017-03-20 15:50] demoy opened #59 "some kerning pairs involving "a" are off point."
![screenshot_20170319_123543](https://cloud.githubusercontent.com/assets/2396524/24108009/53f49fcc-0d5a-11e7-87fb-b19f4c22e411.png)

a+b, a+f, a+i, a+m, a+n, a+r, a+t, a+u, and a+z. Have too much spacing relative to the other a combinations making words containing those combinations appear to have gaps.

Note: using (linux) opensuse tumbleweed.

[2017-03-20 16:12] skosch commented on #59
What the heck, I've never seen this before. The kerning looks wonky all over, even between letters (e.g. `au`). What font file is this? Are you on the `ufo` branch?

[2017-03-20 16:33] demoy commented on #59
@skosch, I been using the precompile otf file since saturday.

[2017-03-20 16:51] demoy commented on #59
Here is a small section taken from calibre ![screenshot_20170320_114711](https://cloud.githubusercontent.com/assets/2396524/24110981/fe234cde-0d62-11e7-912a-d2559b891911.png). Pay attension only to "a"s:  notice that the space [ IE " "] following  the word "a" is wider than the space preceding it.

[2017-03-20 17:18] skosch commented on #59
Can you do me a favour and try the file from the "ufo" branch? It's the up-and-coming (and hopefully cleaned-up) version. Could you report back whether the issue is fixed there? Thank you!

[2017-03-20 17:26] demoy commented on #59
@skosch okay

[2017-03-20 17:30] demoy commented on #59
@skosch thanks, that solved it.

[2017-03-20 17:30] #59 closed

[2017-03-20 17:32] skosch commented on #59
Cool. There's a good chance that other things are off with those files, though, especially regarding vertical metrics. Please report back if you notice anything amiss!

[2017-06-02 14:03] mattpepin opened #60 "Weird space after ( in italic"
There is a weird space after ( when using italic. Try:

e(e

Bold italic seems OK though.

[2017-06-02 14:23] mattpepin commented on #60
My mistake. It turns out the version on Google Fonts is outdated. Works perfectly!

[2017-06-02 14:23] #60 closed

[2017-07-12 14:12] m4rc1e opened #61 "accent positions in latest binaries"
I'm in the process of updating this family on Google Fonts. Unfortunately, many glyphs have had their accents shifted incorrectly, when compared to the current version hosted on GF

![crimsontext](https://user-images.githubusercontent.com/7525512/28121836-43585a0a-6714-11e7-81d6-3f8e2a41343d.gif)

I see you've been updating the project to use fontmake. I'd far rather update the GF version once we

[2017-07-12 16:04] skosch commented on #61
@m4rc1e  First off, hooray! :tada:  People have been bugging me *for years* about the Github/GF divergence, so I'm really happy you guys have finally worked your way down the list to little ol' Crimson!

Frankly, I'm swamped with my day job right now – life of a freelancer! – and won't be able to invest the time to clean this up for the next few weeks at least. The biggest difference between the u

[2017-07-12 16:50] davelab6 commented on #61
@skosch i think if you are happy for us to just take care of this, we can come up with a PR for you to review and approve that sorts everything out, while you are busy

[2017-07-12 16:51] skosch commented on #61
100% happy to let you guys do whatever. You're the experts!

[2017-07-12 16:54] davelab6 commented on #61
Okay cool - while marc and other font engineers sort out out the more technical issues, I also have @fonthausen around to help with type design issues. They'll both take a look within the next week or two and provide a summary of the differences (similar to the screenshot above)

[2017-07-12 18:48] skosch commented on #61
Also, @Fonthausen you worked some impressive magic on Nunito and Pacifico – I don't know what budget you've been given, but if you want to give Crimson a facelift consider yourself at full artistic liberty :-)

[2017-07-12 18:54] Fonthausen commented on #61
@skosch Thank you for the compliment ! :) I'll try to do my best !

I found .sfd files in the source folder. Would it be possible for you to generate UFO or glyphs files ?

[2017-07-12 18:55] skosch commented on #61
Check out the `ufo` branch (literally lol). Would those work for you?

[2017-07-12 19:01] Fonthausen commented on #61
UFO should do the work. I will have a look if all work as expected. Thanks

[2017-07-12 20:18] davelab6 commented on #58
@fonthausen reviewed the `ufo` branch and found there is no kerning there, but the OTFs have it. Was the kerning done with iKern? I forget. Also, the UFOs have no anchors, which OTFs have.

So I propose that @m4rc1e convert the project to a `Crimson.glyphs` source base (which builds with fontmake) - however, I'm not sure if @skosch is determined to use FontForge?

[2017-07-12 20:22] Fonthausen commented on #58
No file has anchors, I might have been unclear.

[2017-07-13 08:43] m4rc1e commented on #58
@davelab6 @Fonthausen, I fancy dedicating my morning to this mission. I'll get the build chain and other stuff transferred into the .ufos.

[2017-07-13 10:22] m4rc1e commented on #58
![screen shot 2017-07-13 at 11 21 35](https://user-images.githubusercontent.com/7525512/28161995-7fa4ba4a-67bd-11e7-819c-2b6d18a54b46.png)

Kerning is coming back

[2017-07-13 11:16] m4rc1e commented on #58
I've almost completed the mastering. However, there's too many design inconsistencies for us to releaase this at the moment. I suggest a designer forks my [fork](https://github.com/m4rc1e/Crimson/tree/gf-mastering) and does the fixes to my gf mastering branch.

![crimsontext](https://user-images.githubusercontent.com/7525512/28163950-0b958302-67c5-11e7-8377-04b52a83ad09.gif)

More than happy to ha

[2017-07-13 11:26] Fonthausen commented on #58
It is difficult to see on your gif, due to the lowres quality. With design inconsistencies, you mean accent positioning etc. or real form/outline problems.

I was asked by Dave to go through the known issues and solve them. My first step would be to add proper anchors and rebuild all combined characters.

[2017-07-13 11:30] m4rc1e commented on #58
@Fonthausen it was more just a demo to show that there are multiple issues

[2017-07-13 12:40] davelab6 commented on #58
Perfect, Jacques has a good starting point point and you might need to make
a hangout or just marc tell Jacques exactly what to do to get the files
into his local machine 😁

On Jul 13, 2017 7:30 AM, "Marc Foley" <notifications@github.com> wrote:

[2017-07-13 12:40] skosch commented on #58
@davelab6 to answer your questions:
* I'm not married to Fontforge at all, UFO all the way
* The kerning data I think is in the features.fea file. It was done with iKern but we had some trouble with it (see earlier discussion in this thread).

Also I vaguely recall the kerning data in the OTF having been corrupted, so if you took the kerning from there you may want to look at a page of specimen te

[2017-07-13 12:47] davelab6 commented on #58
Great!

On Jul 13, 2017 8:40 AM, "Sebastian Kosch" <notifications@github.com> wrote:

[2017-07-13 12:50] skosch commented on #58
And yeah it's not MM unfortunately. However most of the semibold is an interpolation, so the glyphs are for the most part homomorphic. If your time and budget allows for it, consolidating it all into MM would be just amazing. I'm aware that's a lot of work though.

[2017-07-13 12:57] m4rc1e commented on #58
@skosch don't worry about it. The project is great, let's make it better!

@davelab6 this project will take @Fonthausen some time to get right, it isn't a simple push new release as we expected :-)

@Fonthausen let me know when you're free so we can do some git magic :-)

[2017-07-14 00:49] davelab6 commented on #58
Its fine with me if it takes a while :)

On 13 July 2017 at 08:57, Marc Foley <notifications@github.com> wrote:

--
Cheers
Dave

[2017-07-17 03:35] jhanschoo opened #62 "Latin v and w have large apparent weight"
The latin v and w have a large apparent weight as compared to the other characters, probably because it is at the same angle as the stress and has the thickness of bowls at their thickest throughout the entire length of the stroke of v, w. Propose reducing thickness of diagonal strokes to slightly thicker than that of the vertical stems.

[2017-07-18 16:35] strauhmanis opened #63 "Missing ṛ in semibold/italic"
Hi!

It seems that the ṛ glyph is missing in the semibold and semibold italic fonts. Please see the attached image.

Thanks!

![screenshot_03](https://user-images.githubusercontent.com/17160191/28328747-2715a7fe-6bf0-11e7-82f5-8418a8e26e43.png)

[2017-07-23 02:15] jhanschoo commented on #63
I think those glyphs for regular and bold were contributed by the Cochineal project, which restricts itself only to the regular and bold weights in roman and italic. I'm not sure that extending Crimson to include glyphs for these extended ranges is within the scope of this project.

[2017-07-23 02:25] skosch commented on #63
@jhanschoo That's interesting, thanks for the heads up! As you may have seen in #58, the project is currently in the hands of @Fonthausen and I won't be touching things until he's done revamping all the glyphs and outlines. (It's possible that ṛ ṃ ṅ are on his to-do list already, who knows …)

[2017-07-31 15:26] madig commented on #58
Just chiming in to say that some best practices according to SIL are collected here: https://silnrsi.github.io/FDBP/en-US/index.html

Something making a UFO-based workflow harder is that doing multiple masters with UFO in Glyphs.app is somewhat annoying... Maybe some day I'll write a file type plugin that uses designspace files...

[2017-10-13 18:24] mccaskey opened #64 "No-width optional break"
At least on Word 2016 on Windows 10, no-width optional break does not work.

But it does work with Crimson Text downloaded from Google Fonts.

[2017-10-19 12:47] skosch commented on #58
@Fonthausen I can't help but ask – when do you hope to be able to take this on? Now that Montserrat is done, and I love how that turned out! ... is Crimson up next? :)

[2017-10-19 12:59] Fonthausen commented on #58
@skosch I would love to take Crimson as the next project. But at the moment I am working on other none GF font projects. Maybe you can ask @davelab6 if he knows how the future planning will be for Crimson.

Montserrat ended in being a large project and leaving me less time for other ones.

[2017-10-19 14:23] skosch commented on #58
I see, no worries Jacques. @davelab6 what are your thoughts?

[2017-10-19 16:57] davelab6 commented on #58
I'm not sure what we'll do next year... lets keep in touch :)

[2017-10-19 17:31] skosch commented on #58
Ah, that's a bummer. I'll be looking forward to 2018 then!

[2018-01-19 06:37] EbenSorkin commented on #58
On one hand this seems like a good candidate project to be turned into a Multiple Master in the sense that the style of type will be seen as basic/core to a font Library. The argument against might be the existence of Spectral. But Crimson is a 16th C type and Spectral is really much more 19th C

[2018-01-20 14:43] mratsim opened #65 "Double-quotes and literary double-quotes rendered as simple quote"
I'm testing the font from Google https://fonts.google.com/specimen/Crimson+Text and found 2 issues:

Here are the styles

![2018-01-20_15-15-04](https://user-images.githubusercontent.com/22738317/35184366-e4dfd322-fdf4-11e7-81f7-6bba944773fc.png)

1. Semi-bold italic of double-quote " " is a simple quote
![image](https://user-images.githubusercontent.com/22738317/35184374-f7da200e-fdf4-11e7-898e-c

[2018-01-20 14:47] skosch commented on #65
Thanks @mratsim for the bug report!
The version of the font you are looking at is actually years behind the current state of this repository. If you have issues with Google's version, I suggest you open an issue in the [Google Fonts repo](https://github.com/google/fonts).

[2018-01-20 14:47] #65 closed

[2018-01-25 19:56] skosch commented on #58
@davelab6 any plans for 2018 yet? :)

[2018-01-26 02:44] davelab6 commented on #58
Eben, thanks for your thoughtful assessment, I agree.

No 2018 plans yet, but will keep you updated when I have news.

On Jan 25, 2018 2:56 PM, "Sebastian Kosch" <notifications@github.com> wrote:

[2018-02-07 11:54] m4rc1e commented on #61
Looks like I found this issue again :-)

I was going to release an update on GF to resolve https://github.com/google/fonts/issues/1424. However, I feel the newer version has even more glyph design issues. We have missing glyphs, glyphs using base glyphs as mark glyphs and mispositioned accents.

We've improved our tools slighly at the end of last year so we can now gif diff complete fonts. Here's

[2018-02-09 09:45] arthurattwell opened #66 "Crimson Roman 'a' kerning broken"
Commit 553aa7b caused a problem with kerning after the letter `a`.

Before that commit, at 5b3f19c, kerning was great:

![crimson-roman-at-5b3f19c](https://user-images.githubusercontent.com/1053331/36021436-7000314c-0d8e-11e8-92d7-2af1b35b7c3a.png)

But at 553aa7b, this happened:

![crimson-roman-at-553aa7b](https://user-images.githubusercontent.com/1053331/36021462-80bc2856-0d8e-11e8-8daa-43df1b0

[2018-02-09 13:15] skosch commented on #66
Oh. That is interesting. Thank you!

[2018-02-12 10:36] Fonthausen commented on #58
Hi @skosch !

@davelab6 asked me to have a look at Crimson and I have some questions. I read this thread and your remarks on https://github.com/skosch/Crimson/tree/ufo

Could you please add OTFs to your git ? The UFO are strange and don't work well in Glyphs.

I was asked to have an elaborate look at Crimson, from a technical and design point of view.

Technically I don't think I will have many bi

[2018-02-12 18:39] skosch commented on #58
@Fonthausen @davelab6 thank you both! This is exciting news.

The original design was named Crimson Text because I had hoped for there to be a companion Crimson Display. That never came to pass, and in addition many users and myself got lazy and dropped the "Text" in conversation. Around the same time, I grew dissatisfied with the somewhat clumsy look of the first version, and decided to redraw th

[2018-02-17 19:56] xenocrat commented on #58
@skosch I just want to say that I think you do yourself a massive disservice with this statement. I absolutely adore Crimson (v2) with all its quirks and peculiarities. I'm using it in a couple of places and I think it is a lovely font; crisp and commanding, but also with a whimsy that I find very rare in serif faces. I would be reluctant to exchange it for anything else.

I'm very pleased to see

[2018-02-17 21:12] davelab6 commented on #58
I think the priority should be fixing the bugs in both crimson text and
crimson so they work alone as separate designs that are both top quality :)

On Feb 17, 2018 2:56 PM, "Daniel Pimley" <notifications@github.com> wrote:

[2018-02-17 21:22] Fonthausen commented on #58
Sounds like a good plan :)

B A R O N  V O N  F O N T H A U S E N
Jacques Le Bailly

M +31 (0)6 45 74 09 13
E  fonthausen@baronvonfonthausen.com
www.baronvonfonthausen.com

[2018-02-18 01:16] skosch commented on #58
@xenocrat Thank you for your kind words; I meant to say that with a wink, not with bitterness. I'm pleased as punch that the font is liked by so many, but I'm just a dabbler and I have no delusions about it (currently) being a professional-grade product, that's all.

@davelab6 Let's talk naming. I'm not emotionally invested in this decision but if you want to keep v1 around (which given precedent

[2018-02-18 10:06] xenocrat commented on #58
Crimson Neue gets the job done, but imho it doesn't really speak to the character of this typeface.

Crimson Prime? (inspired by [Courier Prime](https://quoteunquoteapps.com/courierprime/))
Crimson Next? (inspired by [Avenir Next](https://www.fonts.com/font/linotype/avenir-next/story))
Crimson Novus? (inspired by [Nimbus Sans Novus](https://www.fonts.com/font/urw/nimbus-sans-novus/story))

I quite

[2018-02-18 15:34] skosch commented on #58
Crimson Prime. I like that too. Novus/-um/-a is awkward with non-latinate names.

[2018-02-18 16:57] Fonthausen commented on #58
Or maybe another nice color name?

⁣Verzonden door TypeApp ​

Op 18 feb. 2018 16:34, om 16:34, Sebastian Kosch <notifications@github.com> schreef:

[2018-02-18 17:33] skosch commented on #58
Carmine, Vermilion, Cinnabar, Cochineal are all taken. [Minium](https://en.wikipedia.org/wiki/Minium_(pigment)) isn't but I'd rather not feed accusations that the font is a Minion knockoff. :)

[2018-02-19 06:33] katef commented on #58
i vote for Kateson :D

[2018-02-19 17:14] davelab6 commented on #58
Crimson Prime is great

On Feb 18, 2018 12:33 PM, "Sebastian Kosch" <notifications@github.com>
wrote:

[2018-02-20 15:01] Fonthausen commented on #58
Hi Dave (@davelab6) & Sebastian (@skosch),

I have had a good look at Crimson and Crimson Text. The idea is to develop both into full grown serious typefaces to either GF Plus or Pro encoding. Standalone, but still family members :)

Sebastian, Dave asked me to make a time table on the work on both families. Please read it and tell me if I missed something. Maybe you don’t agree with my intentions

[2018-02-20 15:58] skosch commented on #58
That's quite the list :)

I do agree with your design suggestions – outlines, glyph widths and details are the main issues for sure.

CT I'll leave up to you completely.

CP was intended for (and is mostly used for) body text. I think it currently looks best headline-sized. That's part of the reason that I think exploring simpler, sturdier serifs and terminals is a good idea.

I'm actually perfect

[2018-02-20 21:49] Fonthausen commented on #58
Hi Sebastian,

Do you want it to be altered, so it will function better in small sizes ? Asking to know if I understood it right. I thought it was like a display counterpart...

First, if we are going to balance the widths, details, weight distribution etc., the spacing will not work. Second, I like to space on color and rhythm, which is difficult to do by “software”. Third, I am oldskool :)

Kern

[2018-02-20 22:14] skosch commented on #58
It's a redesign of CT, which was intended for body text, so yes: giving it a subtle bit more bite at smaller sizes would be something I would aim for.

As much as I like the idea of creating a proper text/display-pair family ... I believe the reality is that users right now use both versions mostly for body text, and the characters/skeletons of the two are quite different. Crimson Prime Display wo

[2018-02-21 01:28] davelab6 commented on #58
I am also not sure that the glyph set should be similar, as they are
separate but related families.

That also means they should both target smaller "comfortable reading"
sizes, and not display typography. That can come later, Amstelvar style :)

[2018-02-21 10:51] Fonthausen commented on #58
Sounds good. Just an inquiry :) I will base the glyph set on the originals.

I will work on CT and CP, they will keep me busy for while :)

[2018-02-21 15:12] Fonthausen commented on #58
@davelab6
Any thoughts on the Greek and Cyrillic for CT and CP ? If so, with or without smallcaps counterparts ?

[2018-03-01 00:51] TrekkieTechie opened #67 "Superscripts One through Three (2071, 2072, and 2073) are missing"
![missing characters](https://user-images.githubusercontent.com/36939674/36821306-701836f2-1cc0-11e8-929b-56e188e00b5c.png)

I just ran across this wonderful font and went to investigate its symbol support, and discovered the above. This applies to the Roman but may apply to the other faces; I don't know how to check.

[2018-03-01 02:26] davelab6 commented on #67
Ain't unicode fun, lol :)

[2018-03-06 10:42] Fonthausen commented on #58
This week I started working on Crimson Text, a Garamond inspired text typeface.
Crimson Text (CT) is a project from Sebastian Kosch.

The last few days the Google team, Kosch and I have spoken on what could be done on CT.
Since the last release, Kosch has been working on another version of Crimson, Crimson Prime (CP). (The outlines of the new CP are being used in Amiri on GF.)
CP is more sharp and

[2018-03-07 21:11] sergeevabc commented on #56
It seems Crimson Roman supports Cyrillic, but there is neither Italic, nor Bold available to date, right?

[2018-03-14 00:44] davelab6 commented on #58
Thank you for the summary Jacques. For now let's focus on Latin only and
deal with the other scripts later

On Tue, Mar 6, 2018, 5:42 AM Jacques Le Bailly <notifications@github.com>
wrote:

[2018-03-15 10:47] Fonthausen commented on #58
This week I have been working on the draft for the new version of Crimson. In the link below you will find my deck (presentation) with a description of my first draft.

https://docs.google.com/presentation/d/1owMuJz3xwXSvB_3cevZcjniWFaS-iL4qgvqlYxiI7Pk/edit?usp=sharing

[2018-03-16 21:12] xenocrat commented on #58
Thank you for sharing this. It's interesting to see this glimpse into your process!

[2018-03-18 21:14] Fonthausen commented on #58
@xenocrat You are very welcome !

Here you can find an even more elaborate step by step project explanation:
https://groups.google.com/forum/#!topic/googlefonts-discuss/lZGJqeigS3I

[2018-04-18 11:39] StefanPeev opened #68 "Mos recent version - UFO or SFD"
Which files do include the most recent version of the project - UFO or SFD?

[2018-04-18 12:29] skosch commented on #68
Hi Stefan, I want to say UFO but I'm not even 100% sure anymore. Your best bet at the moment may be to start with the Latin from [Amiri](https://github.com/alif-type/amiri), which is also Crimson but at least Khaled knows what he's doing in terms of font production.

Before you start anything though – you're aware that @Fonthausen is completely reworking the entire family at the moment, right?

[2018-04-18 12:32] Fonthausen commented on #68
SFD

I am working on a new version in Glyphs.
https://github.com/Fonthausen/Crimson

[2018-04-18 12:33] frisi opened #69 "low quotation mark missing"
Crimson does not show the `Double low-9 quotation mark` (https://unicode-table.com/de/201E/) when `font-weight` is set to bold (`font-weight: 600`)

to reproduce:
preview the following text on https://fonts.google.com/specimen/Crimson+Text

![screenshot-2018-3-15 google fonts](https://user-images.githubusercontent.com/1120517/38931658-3591b52e-4314-11e8-9c4c-92787db7b27c.png)

[2018-04-18 12:35] StefanPeev commented on #68
@skosch @Fonthausen Thank you! I'll try my best to add Cyrillic glyphs where they are missing. Or... do you plan something else?

[2018-04-18 12:39] skosch commented on #69
Thanks @frisi – see also https://github.com/google/fonts/issues/1424 for a similar problem.

Crimson is currently undergoing a complete overhaul, and I expect this will be taken care off in a few weeks.

[2018-04-18 12:40] Fonthausen commented on #68
Please take in account that the new version is going to be quite different. If you want to add missing Cyrillic to Crimson Text, I would work in the original files.

It will take a few months to finish the whole new family.

[2018-04-18 12:41] Fonthausen commented on #68
You can follow this thread if you are curious:
https://groups.google.com/forum/#!topic/googlefonts-discuss/lZGJqeigS3I

[2018-04-18 12:53] StefanPeev commented on #68
I have long started working on this project and I even made a branch [local](https://github.com/StefanPeev/Crimson/tree/local) on my repository. But I didn't have enough time to finalize my work. I'll continue to work on this project and I'll upload my results at the branch local. I'll show you at the Gallery section of the branch a preview of the results [like this](https://github.com/StefanPeev/

[2018-04-18 13:12] frisi commented on #69
great to hear @skosch.
will these updates be deployed to the google font automatically, or do i need to serve the updated font files on my webserver then?

[2018-04-18 13:16] skosch commented on #69
Current plans are for the new version to be published on GF as a separate family. Once that's done, small improvements (like the missing quotation mark) will then be made to the old Crimson on GF as well. That'll be probably be a few months from now.

In the meantime, consider using self-hosting the font files from this repo, or use Amiri on GF (the Latin of which is taken from the latest version

[2018-08-10 18:44] jco2 commented on #66
The issue is still present. I corrected the kerning manually, would you accept a PR ?

[2018-08-11 17:46] jco2 opened #71 "No ligatures for fl and variants"
It looks like some ligatures are absent :
![screenshot_20180811_194515](https://user-images.githubusercontent.com/29073309/43994553-1ed65a66-9d9f-11e8-94c0-6a1bcf2ab2e8.png)
That's strange because I can find them when I edit the font. Some ligatures work like 'Th' though.

[2018-08-11 18:10] jco2 commented on #71
Okay, I had to enable the discretionary ligatures in XeTeX. Works well !

[2018-08-11 18:10] #71 closed

[2018-11-06 11:34] rschiang commented on #54
I bumped into a similar problem in LibreOffice. The roman text and italics won't align:
<img width="257" alt="Screenshot" src="https://user-images.githubusercontent.com/1512231/48061422-dd420d80-e1f9-11e8-83a2-83b7ae79362e.png">

After tweaking font metrics for a bit, I patched the following bits in the `OS/2` table of Crimson Text Regular:

* `version`: `3` → `4`
* `fsSelection`: `USE_TYPO_METRIC

[2018-11-09 09:07] orjanb-ne commented on #3
This seems like it is still an issue. I downloaded the latest webfont and get this:
[
![crimson-alignment](https://user-images.githubusercontent.com/22000464/48253301-3f239280-e407-11e8-8bcb-86156abce063.png)
](url)
![helvetica-alignment](https://user-images.githubusercontent.com/22000464/48253313-464aa080-e407-11e8-954c-970c6f9229a0.png)

[2018-11-09 09:09] orjanb-ne opened #72 "Strange vertical metrics in webfont"
[
![crimson-alignment](https://user-images.githubusercontent.com/22000464/48253301-3f239280-e407-11e8-8bcb-86156abce063.png)
](url)
![helvetica-alignment](https://user-images.githubusercontent.com/22000464/48253313-464aa080-e407-11e8-954c-970c6f9229a0.png)

[2018-12-14 08:41] Fonthausen commented on #58
Hi Daniel ! Thank you very much for your nice compliments. It feels like a nice reward after the energy we put in the project.

I took the liberty of looking on your website and saw you are using Crimson Pro ! The design is minimalistic and therefore one can concentrate on the content of your articles. I like it very much and am happy that Crimson was the type of your choice. To me it feels like a

[2018-12-14 23:09] skosch commented on #58
Wow, that looks great indeed. Those italics are *so*. *nice*.

[2019-02-09 05:51] fitojb opened #73 "Crimson Pro: Unacceptable spacing for Catalan letter ⟨l·l⟩"
(This issue is for the typeface @ [Fonthausen/CrimsonPro](https://github.com/Fonthausen/CrimsonPro), but that repo doesn’t have issues enabled. CC /@fonthausen )

Both ells in ⟨l·l⟩ should be as close as possible, ideally harmonizing with the digraph ⟨ll⟩. Compare the words _parell_ and _instal·lació_―the latter word looks like it’s two words with the current buggy font.

![captura de pantalla de

[2019-02-09 11:14] Fonthausen commented on #73
This is strange, because ldot should be in it and functioning.

@davelab6

<img width="1327" alt="schermafbeelding 2019-02-09 om 12 10 24" src="https://user-images.githubusercontent.com/20181530/52519998-3e97d380-2c64-11e9-8d65-5541a9844a4c.png">

[2019-02-09 23:07] fitojb commented on #73
Despite what the English-language Wikipedia might imply, ldot (U+013F/U+0140) is not the right encoding for ⟨l·l⟩, and nobody writes it with those characters (for starters, it is absent from keyboards). The right encoding is ASCII 'l', middle dot (U+0307), ASCII 'l'. It is U+0307 that has the excessive spacing.

[2019-02-10 07:48] moyogo commented on #73
periodcentered.loclCAT and periodcentered.loclCAT.case need to be spaced to work well between two l and two L.

[2019-02-11 11:13] Fonthausen commented on #73
Then we should correct that

[2019-04-02 13:50] dbenjaminmiller commented on #73
Perhaps the correct way to do is to set a liga. I don't use Glyphs; if this project were developed in FF I'd send a PR

[2019-06-11 21:12] xenocrat commented on #58
Hello @skosch and @davelab6. Can you say when Crimson Pro will be published on [Google Fonts](https://fonts.google.com/)? It was [merged](https://github.com/google/fonts/pull/1779) into the GF repo in January but it hasn't yet appeared on the website.

[2019-07-31 14:18] #66 closed

[2019-08-16 17:10] thekalinga commented on #58
Appreciate if someone can help w.r.t @xenocrat question. Thanks!

[2019-08-23 21:29] xenocrat commented on #58
Today I noticed that Crimson Pro has been published on [Google Fonts](https://fonts.google.com/specimen/Crimson+Pro). Yay!

[2019-11-14 17:45] pichotta opened #74 "Weight Axis variable font"
@skosch
Fonthausen
@m4rc1e

Hello Sebastian and Jacques,

As you may know, the Google fonts team would love to see a variable fonts version of ‘Crimson'. They have commissioned us @TypeNetwork to work on upgrading a number of font projects to be variable fonts with a single weight axis.

We wish to begin by finding out the current status of this family and then by making a fork off of this git rep

[2019-11-15 21:32] skosch commented on #74
Hi Jill,
That's great news! As outlined in the README file of this repo, there are currently 3.5 versions of Crimson. The oldest one is what Google Fonts offers as "Crimson Text", the second one is available on GF as the Latin part of "Amiri", and the latest one is Jacques' "Crimson Pro" (a slight variant of which is found in my "CrimsonProS" repo). You'll probably want to start with Crimson Pro's

[2019-11-29 13:20] jay3fer opened #75 "Old problem? Italic "d" & KDP publishing"
I love using Crimson for book interiors but just discovered that the italic "d," which I've used several times, comes out looking stunted and weird (see image below):

![image](https://user-images.githubusercontent.com/42469558/69871438-74717b80-12bb-11ea-80f3-f68834e05c39.png)

I've found a few old threads referring to this problem but in this 2013 one the link to an updated version of the font f

[2020-01-08 10:16] CatharsisFonts commented on #72
I'm also getting really large line spacing in the desktop version:
<img width="841" alt="Screenshot 2020-01-08 at 11 15 44" src="https://user-images.githubusercontent.com/13754106/71970070-3a738d80-3208-11ea-8283-622cc4d093fa.png">

[2020-01-08 17:22] skosch commented on #72
Sorry for leaving this unanswered for so long! I'm really swamped with other work these days and not in a position to dig into this at the moment. @CatharsisFonts I know it's a lot to ask, but if you would like to fix this I would gladly accept a PR.

[2020-01-08 17:24] CatharsisFonts commented on #72
Hi Sebastian,

sorry, I'm already woefully neglecting my own type project due to time constraints! In case you're working with Glyphs, though, there's a great tutorial on vertical metrics that has helped me before.

Cheers, Christian

[2020-01-08 17:25] skosch commented on #75
Hi @jay3fer, I'm sorry for the delay, I missed this post completely. I haven't touched the font files in a few years and honestly couldn't answer your question without digging into this myself, which I don't have the time to at the moment. Were you able to find out whether the most recent version fixes it?

[2020-01-08 17:30] skosch commented on #72
No worries Christian. I don't have Glyphs unfortunately; I just remember being confused by FontForge's metrics UI. I've been recommending people use Amiri instead (which uses Crimson for its Latin alphabet) because unlike myself, Khaled knows what he's doing :)

[2020-01-08 17:53] CatharsisFonts commented on #72
I've been wondering where Amiri got that beautiful Latin from! Thanks! :)

[2020-02-15 04:02] HelpMeOuch opened #76 "Never mind... I figured it out."
I should have reviewed the license before posting here. I was able to answer my question, after reviewing the documentation provided with the font download. Who knew? Obviously, everyone. Anyways, Thank you for making such a beautiful font. I love Crimson!

[2020-02-15 04:03] #76 closed, assigned to nobody

[2020-04-16 13:26] jimbojw commented on #75
I came here to report this exact problem. Planning to try "Crimson Pro" instead.

[2020-06-01 01:55] cpitclaudel opened #77 "Kerning issues with accented characters in italics font"
Hi there,

How up-to-date is the version of the font on Google Fonts? While trying out the accent support, I noticed some kerning issues around accented characters, in particular é:

![crimson](https://user-images.githubusercontent.com/8181630/83369130-cef2ae00-a3aa-11ea-8b23-525ccb341258.png)

There are big gaps in caf-é and in T-étar.  Is this a bug?

Thanks a lot for your work!

[2020-06-01 02:38] skosch commented on #77
Not up to date at all! Try [Amiri](https://fonts.google.com/specimen/Amiri) or [Crimson Pro](https://fonts.google.com/specimen/Crimson+Pro?vfonly) instead :)

[2020-06-01 02:51] cpitclaudel commented on #77
Thanks a lot!  And thanks for your work :)

[2020-06-01 02:51] #77 closed, assigned to nobody

[2020-09-13 19:24] dbenjaminmiller commented on #75
Cochineal (https://ctan.org/pkg/cochineal?lang=en) also fixed this, and has the original-Crimson design, fwiw.

[2020-10-14 06:11] fontu opened #78 "Em-dash seems too short"
The em-dash seems too short. Can it be longer?
![dash](https://user-images.githubusercontent.com/72780791/95950402-6bd05800-0e2f-11eb-86cb-10cc3fa241ba.PNG)

[2020-10-14 06:15] fontu opened #79 "Italic ampersand is hard to recognize"
The italic ampersand is hard to recognize. Can you make it more recognizable?
![PNG](https://user-images.githubusercontent.com/72780791/95950693-ffa22400-0e2f-11eb-8609-3122ac5e431a.PNG)

[2020-10-14 06:49] demoy commented on #79
The italic ampersand in crimson you can find in the font Inknut Antiqua. It's not uncommon to see it in older (pre-1900s) books. People don't mind if their punctuation marks lack italic forms, the default ampersand already looks italic in Crimson and Times New Roman. You can use it without italic-ing to get the standard look.

I am not sure if there are any plans to make changes to this font anymo

[2020-10-14 07:04] fontu opened #80 "Dot/diacritical marks alignment"
It looks great to have dots and diacritical marks at the same height like Adobe Devanagari. This requires adjustments in all fonts with a dot (e.g., i, j) or all fonts with a diacritical mark (e.g., ṅ, ö, ā, ō, ṃ, ṇ, ṛ, ṣ, ṭ, etc.) or both.
![d](https://user-images.githubusercontent.com/72780791/95954751-be614280-0e36-11eb-9301-88a7e0bb04cc.PNG)

[2020-10-14 07:18] fontu opened #81 "Diacritical mark is too right in "ś""
The diacritical mark is too right in "ś". Can you adjust it?
![s](https://user-images.githubusercontent.com/72780791/95956107-cae69a80-0e38-11eb-8f99-0d68153d1b95.PNG)

[2020-10-14 23:02] skosch commented on #79
Thank you both – I can only second everything @demoy wrote :)

[2021-01-20 14:14] Jonta commented on #16
Updates on this?

[2021-01-20 14:25] Jonta opened #82 "Spacing: Va, Vu, Wa & Wu: Too large"
I noticed "Va" on a website using CrimsonText in subheadings

font-size: 36px
font-weight: 400
line-height: 42.0833px
100% zoom
1920*1080px at 23" = 95.78dpi

[2021-09-25 19:15] HelpMeOuch opened #83 ".woff2 Font Request Status"
Greetings Sebastian!

I am working on a website and want to use Crimson as the font set. Squarespace requires .ttf/.otf, .woff, and .woff2 formats of the font to function on the platform. I was able to find all but the .woff2. Do you have plans to format Crimson into .woff2, or has that already been done and I've missed it?

Thank you for your time, and I hope you have a fantastic day!

Stephanie

[2021-09-26 00:59] skosch commented on #83
Hi Stephanie, have you considered using a CDN like Google Fonts? You can get either Crimson Pro directly, or you can use [Amiri](https://fonts.google.com/specimen/Amiri), which uses the 2012 version of Crimson for its Latin character set. If you need more fine-grained control, take a look at the webfont generator at fontsquirrel.com :slightly_smiling_face:

[2021-09-26 03:12] HelpMeOuch commented on #83
I was unaware that those were available to me! Huzzah 🤓 I shall check into the options you've suggested. Thank you so much for your quick and helpful reply! Have an excellent rest of your day 😁

[2021-09-26 03:12] #83 closed, assigned to nobody

[2022-01-28 18:07] kujain opened #84 "CrimsonText-semibold issue with end-quotoes"
This is in reference to the original CrimsonText-semibold webfont (woff/woff2). We are using it on a website but noticed that it incorrectly handles the right double quotation mark. it displays as a single quotation mark instead!

The updated version (Crimson Pro) does not have this issue but as you can see in the screenshot, there's are a lot of other differences so me to simply replace either ju

[2022-02-07 11:36] skosch commented on #84
Hi @kujain, I'm sorry about this bug! I frankly don't have the capacity right now to fix this. Have you considered using [Amiri](https://fonts.google.com/specimen/Amiri) instead? It's closer to the original than Crimson Pro.

[2022-05-27 12:26] emmamarichal commented on #80
Fixed https://github.com/google/fonts/pull/4416

[2022-05-30 11:24] CurlyMoo opened #85 "Lookup tables missing in Crimson Text"
I'm using Crimson Text regular and italic for the design of a book. I've noticed that the lookup tables for `ligatures`, `small caps` and `proportional numbers` are missing in at least the regular version. Therefor the three features don't work in InDesign. Initially, this moved me towards another font until i noticed that the actual glyphs are there.

When adding the lookup tables for the three f

[2022-05-30 17:49] CurlyMoo opened #86 "Right padding of small caps K in italic is too big"
I changed the glyph from this:
![afbeelding](https://user-images.githubusercontent.com/2429105/171040621-378c2c04-9291-4518-a75f-c3e2864e29c0.png)
to this
![afbeelding](https://user-images.githubusercontent.com/2429105/171040583-2258399a-c150-4d1d-af51-1642441028ae.png)
making the whole thing consistent again.

[2022-05-30 21:12] CurlyMoo opened #87 "Close issues that already have been fixed"
Several issues are marked fixed in Google Fonts but remain open here. Is it possible to sync these issues with the actual status?

E.g.
https://github.com/skosch/Crimson/issues/82
https://github.com/skosch/Crimson/issues/80
https://github.com/skosch/Crimson/issues/78
https://github.com/skosch/Crimson/issues/50